<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Taco Cloud</title>
    <script th:src="@{/js/jquery.slim.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>

<div class="container">
    <header>
        <h1>复电推理解释</h1>
        <nav>
            <ul id="nav">
                <li><a href="/home">主页</a></li>
                <li><a href="/addRules">添加规则</a></li>
                <li><a href="/showGraph">解释图展示</a></li>
            </ul>
        </nav>
        <button type="button" class="btn btn-success">成功</button>
    </header>
</div>

</body>

</html>
